body {
  background: green;
  box-sizing: border-box;
}
.card {
  text-align: center;
  background: white;
  margin: auto;
  width: 250px;
  height: 200px;
  padding: 20px;
  padding-top: 150px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  justify-content: center;
}
.top-suit {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 80px;
}
.bottom-suit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 80px;
  transform: rotate(180deg);
}
.number {
  font-size: 70px;
}
#boton {
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}
